<h1 mat-dialog-title>Add Estudante Form</h1>
<div mat-dialog-content>
    <form [formGroup]="studentForm">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input formControlName="nome" matInput placeholder="Nome">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Curso</mat-label>
            <input formControlName="curso" matInput placeholder="Curso">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Periodo</mat-label>
            <mat-select formControlName="turno" placeholder="Periodo">
                <mat-option value="Matutirno">Matutirno</mat-option>
                <mat-option value="Integral">Integral</mat-option>
                <mat-option value="Noturno">Noturno</mat-option>
            </mat-select>
        </mat-form-field>
        <label for=""><h1>Semestre</h1></label>
        <mat-radio-group formControlName="semestre" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let semestre of semestresList" value="semestre">
                {{semestre}}
            </mat-radio-button>
        </mat-radio-group>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="primary" (click)="addStudent()">Salvar</button>
    <button style="margin-left: 8px;" mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
</div>

